body {
   height: 700px;


}


#tdCol{
    text-align: left;
    width: 10%;
    height: 10%;

}

.panel-body.text-center.table-responsive{
    scrollbar-darkshadow-color: red;
}
.table-responsive {
    min-width: 100%;
    max-height: 600px;
    overflow-y: auto;
   -webkit-overflow-scrolling: touch;



}


.table-responsive>.table {
    margin-bottom: 0;

}


