<!DOCTYPE html>
<html lang="en">
<head ng-app="">
    <meta charset="UTF-8">
    <title>Angular html page</title>
    <!-- bower:css-->
    <!--endbower-->
    <!-- bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <!--endbower-->
    <!--inject:css-->
    <link rel="stylesheet" href="/css/table.css">
    <!--endinject-->
    <!--inject:js-->
    <script src="/js/editTableData.js"></script>
    <script src="/js/getTableData.js"></script>
    <script src="/js/table.js"></script>
    <!--endinject-->
</head>
<body >
<br/>
<input type="text" data-ng-model="name"/>
{{ name }}
<script src="/lib/angular/angular.js"></script>
</body>

</html>