<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Weekly Status Reports </title>
    <!-- <meta http-equiv="refresh" content="100" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--endbower-->
    <!-- bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <!--endbower-->
    <!--inject:css-->
    <link rel="stylesheet" href="/css/table.css">
    <!--endinject-->
    <!--inject:js-->
    <script src="/js/editTableData.js"></script>
    <script src="/js/getTableData.js"></script>
    <script src="/js/table.js"></script>
    <!--endinject-->

</head>
<body>

<div class="container">
    <!--
        <div class="page-header">
            <h1>Bootstrap Editable Grid <small>A template, demonstrating a jquery Edtiable Grid component</small></h1>
        </div>
        <div>
            <%=title%> in EJS


        </div>
        <div>


       <nav class="collapse navbar-collapse" role="navigation">
           <ul class="nav navbar-nav">
               <% for (var j=0;j<nav.length;j++){%>
               <li><a href="<%=nav[j].Link%>"><%=nav[j].Text%></a>
               </li>
               <%}%>
           </ul>
       </nav>

        </div>
        -->
    <!-- Bootstrap Editable Grid - START -->

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">OSSSFA OSS-SFA  Status Reports <span class="fa fa-edit pull-right bigicon"></span></h4>
                <!-- <span><button type="button"   id="edit_button" class="btn btn-primary">Edit</button></span> -->
                <span><ul class="list-inline">
                            <li><form action="/"> <input class="btn btn-primary" type="submit" value="HOME" />
                        </form></li>
                            <li><form action="/edit"> <input class="btn btn-primary" type="submit" value="EDIT" />
                        </form>
                            </li>
                    <!--   <li><form > <input class="btn btn-primary" type="submit" value="Add Row" />
                   </form></li>
                       <li><form > <input class="btn btn-primary" type="submit" value="Add Col" />
                   </form>
                       </li>-->
                          </ul>
                </span>

            </div>
            <div class="panel-body text-center table-responsive" >
                <div id="grid" >
                    <table class="table table-bordered " id="RezAddress">
                        <thead id="table_head">
                        <tr>
                            <th>S.NO</th>
                            <th>WEEK#</th>
                            <th>STATUS</th>
                            <th>MARKET</th>
                            <th>COUNTRY</th>
                            <th>PROJECT</th>
                            <th>UPDATEDBY</th>
                        </tr>
                        </thead>

                        <tfoot>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>








</div>

</body>
</html>